<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Life Coach{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v={{ config['LAST_UPDATED'] | default(0) }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <a href="https://aiyoda.app/" class="menu-icon-link">
                <span class="menu-icon material-symbols-outlined">menu</span>
            </a>
            <span class="app-title">
                {% block app_title %}
                    <a href="/">Life Coach</a>
                {% endblock %}
            </span>
        </div>

        <div class="top-bar-right">
            <a href="https://aiyoda.app/" class="account-icon-link">
                <span class="material-symbols-outlined">account_circle</span>
            </a>
        </div>
    </div>

    <div class="sidebar">
        <a href="/" class="sidebar-item {% if request.path == '/' %}active{% endif %}">
            <span class="material-symbols-outlined">home</span>
            <span>Home</span>
        </a>

        <p class="coach-selector-text">Available AIYoda Coaches</p>
        {% for coach in coaches %}
        <a href="{{ url_for('coach_page', coach_url_name=coach.url_name) }}" class="sidebar-item {% if request.path == '/coach/' + coach.url_name %}active{% endif %}">
            <img src="{{ coach.image_url }}" alt="{{ coach.name }}" class="sidebar-icon">
            <span class="sidebar-text">{{ coach.name }}</span>
        </a>
        {% endfor %}
    </div>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='script.js') }}?v={{ config['LAST_UPDATED'] | default(0) }}"></script>
</body>
</html>